<mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>Get User by ID</mat-card-title>
      <mat-card-subtitle>NgRx</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      <div *ngIf="userByID$">
        <div *ngIf="(userByID$ | async)?.id">
          ID: {{ (userByID$ | async)?.id }}
        </div>
        <div *ngIf="(userByID$ | async)?.name">
          Name: {{ (userByID$ | async)?.name }}
        </div>
        <div *ngIf="(userByID$ | async)?.username">
          Username: {{ (userByID$ | async)?.username }}
        </div>
        <div *ngIf="(userByID$ | async)?.address">
          <div>Address:</div>
           <div>{{ (userByID$ | async)?.address.street }}</div>
           <div>{{ (userByID$ | async)?.address.suite }}</div>
           <div>{{ (userByID$ | async)?.address.city }}</div>
           <div>{{ (userByID$ | async)?.address.zipcode }}</div>
           <div>{{ (userByID$ | async)?.address.geo.lat }}</div>
           <div>{{ (userByID$ | async)?.address.geo.lng }}</div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Enter the User ID</mat-label>
          <input matInput placeholder="1" [formControl]="userId" required>
          <mat-error *ngIf="userId.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>
      <button (click)="grabUserById()" mat-raised-button color="primary">Get User by Id</button>
    </mat-card-actions>
  </mat-card>
  
  


