<div class="container">
    <div class="container__header">
        <app-stepper-header [title]="title" [subtitle]="subtitle"></app-stepper-header>
    </div>
    <div class="container__cards">
        <div class="card-container">
            <app-stepper-card
                class="card-container__item"
                *ngFor="let option of options"
                (selected)="doSomething($event)"
                [size]="option.size"
                [label]="option.label"
                [imagePath]="option.imagePath"
                >
            </app-stepper-card>
        </div>
    </div>
</div>