<mat-stepper orientation="horizontal" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>Size</ng-template>
        <div class="container">
            <div class="container__header">
                <app-stepper-header [title]="title" [subtitle]="subtitle"></app-stepper-header>
            </div>
            <div class="container__cards">
                <div class="card-container">
                    <app-stepper-card
                        class="card-container__item"
                        *ngFor="let option of sizeOptions$ | async"
                        (selected)="saveSize($event)"
                        [size]="option.size"
                        [label]="option.label"
                        [imagePath]="option.image"
                        [selectedSize]="size$ | async"
                        (click)="goForward(stepper)"
                        >
                    </app-stepper-card>
                </div>
            </div>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Layout</ng-template>
        
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>