<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>Get an Album by ID</mat-card-title>
    <mat-card-subtitle>NgRx</mat-card-subtitle>
    <img *ngIf="(albumByID$ | async)?.thumbnailUrl" mat-card-sm-image src="{{ thumbnailUrl$ | async }}">
  </mat-card-title-group>
  <mat-card-content>
    <div *ngIf="albumByID$">
      <div *ngIf="(albumByID$ | async)?.id">
        ID: {{ (albumByID$ | async)?.id }}
      </div>
      <div *ngIf="(albumByID$ | async)?.title">
        Title: {{ (albumByID$ | async)?.title }}
      </div>
      <div *ngIf="(albumByID$ | async)?.url">
        Url: {{ (albumByID$ | async)?.url }}
      </div>
      <div *ngIf="(albumByID$ | async)?.thumbnailUrl">
        thumbnailUrl: {{ (albumByID$ | async)?.thumbnailUrl }}
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Enter the Album ID</mat-label>
        <input matInput placeholder="1" [formControl]="albumId" required>
        <mat-error *ngIf="albumId.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <button (click)="getAlbumById()" mat-raised-button color="primary">Get Album by Id</button>
  </mat-card-actions>
</mat-card>

