
<mat-toolbar>
  <div *ngIf="authService.isLoggedIn">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button 
    mat-menu-item
    (click)="logout()"
    aria-label="To do RouterLink">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
  </div>
  <button mat-button aria-label="To do RouterLink">
    <a routerLink="/todo">To do</a>
  </button>
  <button mat-button aria-label="album RouterLink">
    <a routerLink="/album">Album</a>
  </button>
  <button mat-button aria-label="users RouterLink">
    <a routerLink="/users">Users </a>
  </button>
  <button mat-button aria-label="posts RouterLink">
    <a routerLink="/posts">Posts </a>
  </button>
  <button mat-button aria-label="photos RouterLink">
    <a routerLink="/photos">Photos</a>
  </button>
  <button mat-button aria-label="stepper RouterLink">
    <a routerLink="/stepper">Stepper</a>
  </button>

</mat-toolbar>

<router-outlet></router-outlet>