<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button  aria-label="To do RouterLink">
    <a routerLink="/todo">To do</a>
  </button>
  <button  aria-label="album RouterLink">
    <a routerLink="/album">Album</a>
  </button>
  <button  aria-label="users RouterLink">
    <a routerLink="/users">Users </a>
  </button>
  <button  aria-label="posts RouterLink">
    <a routerLink="/posts">Posts </a>
  </button>
  <button  aria-label="photos RouterLink">
    <a routerLink="/photos">Photos</a>
  </button>

</mat-toolbar>
<div class="main-div">
</div>



<router-outlet></router-outlet>