@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.selected {
    background-color: #ededed;
    animation: blinker 1s linear;
}

.stepper-card {
    margin: 15px;

    &__image {
        width: 215px;

    }
}

.image-container {
    display: flex;
    justify-content: center;



}

.options {
    display: flex; //display items on the same line
    align-items: center;

    &__label {
        border: 1px solid #000;
        padding: 3px;
        padding-right: 8px;
        padding-left: 8px;
        margin-right: 10px;
    }

}
